.message {
	display: flex;
	align-items: center;
	position: relative;
	width: fit-content;
	justify-content: space-between;
	margin: 15px;
}

.message > p {
	background-color: #f3f3f3;
	font-size: medium;
	padding: 15px;
	border-radius: 70px;
	margin: 10px;
	margin-right: 10px;
}

.message__messageText {
	font-weight: 600;
}

.message__displayName {
	color: gray;
}

.message__timestamp {
	color: gray;
	position: absolute;
	font-size: 8px;
	bottom: -5px;
	right: 0;
}

.message__senderName {
	color: gray;
	font-weight: bold;
	position: absolute;
	font-size: 10px;
	left: 60px;
	top: -10px;
	right: 0;
}
